/* Custom styles for HWInfo64 Log Comparison App */

.content-wrapper, .right-side {
  background-color: #f8fdfa;
}

.box {
  border-radius: 8px;
}

.btn {
  border-radius: 4px;
}

/* Fix for the upload box corners */
#shiny-tab-upload > div > div > div {
  overflow: hidden !important;
}

#shiny-tab-upload > div > div > div > div.box-body {
  padding-bottom:75px;
}

#shiny-tab-viz > div:nth-child(2) > div > div > div {
  overflow: hidden !important;
}

#shiny-tab-export > div:nth-child(2) > div > div > div {
  overflow: hidden !important; 
}

#shiny-tab-export > div:nth-child(1) > div > div:nth-child(1) > div {
  overflow: hidden !important; 
}

#shiny-tab-export > div:nth-child(1) > div > div:nth-child(2) > div {
  overflow: hidden !important; 
}
